@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@import "toggle.css";
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.form-radio {
  @apply text-[#FC575E] bg-wagpay-dark focus:text-[#FC575E] border border-[#FC575E];
}

.form-radio:focus {
  box-shadow: none !important;
}

.common-select {
@apply mt-2 block border border-gray-200 bg-gray-700 p-2 text-white shadow-sm sm:text-sm
}